/**/

body {color: #003399; font-size: 12pt; font-family: Candara, Arial}
h2 {font-size: 16px;}
h3 {font-size: 14px}

#wrapper{margin: auto; background-color: #ADD8E6; width: 40em; padding: 5px}
#header{height: 75px; border-bottom: 2px dotted #B2BCC6;}
#header img{height: 70px; float: left; padding-right: 10px}
#header h2 {padding-top: 20px}
#nav{float: left; width: 16em}
#nav li{padding-top: 20px}
#container{float: right; width: 23em;}
.clearme{clear:both}
#footer{border-top: 2px dotted #B2BCC6;}
.snippet{border-left: 1px solid #003399; padding-left: 10px}
.myquote{font-style: italic}